<div class="parentDiv">
    <div>
        <app-area></app-area>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutgap="10px" class="card">
        <mat-card fxFlex="24"><app-card></app-card></mat-card>
        <mat-card fxFlex="24"><app-card></app-card></mat-card>
        <mat-card fxFlex="24"><app-card></app-card></mat-card>
        <mat-card fxFlex="24"><app-card></app-card></mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutgap="10px" class="card">
        <div fxFlex="60">        
            <app-table></app-table>
        </div>
        <div fxFlex="40">
            <app-pie></app-pie>
        </div>
   </div>
</div>
